/deep/.el-input__inner{
    height: 35px;
    background-color: #EDF5FB;
}
/deep/.avue-crud .el-table th{
      background: #D8E3FA;
  }
/deep/.cell{
    font-family:Microsoft YaHei;
    color:rgba(85,85,85,1);
}
/deep/.el-table tr{
    background-color: #EDF5FB;
}
// /deep/.el-card__body{
//     padding: 15px;
// }
/deep/.avue-crud__menu{
    margin-bottom: 0;

}
/deep/.el-range-editor .el-range-input {
  background-color: #EDF5FB;
}
